body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,form,fieldset,legend,button,input,textarea,th,td {
	margin: 0;
	padding: 0;
}

body,button,input,select,textarea {
	font: 12px/1.5 tahoma,arial,\5b8b\4f53,sans-serif;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
}

address,cite,dfn,em,var {
	font-style: normal;
}

code,kbd,pre,samp {
	font-family: courier new,courier,monospace;
}

small {
	font-size: 12px;
}

ul,ol {
	list-style: none;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

sup {
	vertical-align: text-top;
}

sub {
	vertical-align: text-bottom;
}

legend {
	color: #000;
}

fieldset,img {
	border: 0;
}

button,input,select,textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
	display: block;
	margin: 0;
	padding: 0;
}

mark {
	background: #ff0;
}

body {
	color: #333;
	background: url(../images/common.png) #FFF;
}

a {
	color: #266392;
	text-decoration: none;
}

a:hover {
	color: #00A0E9;
	text-decoration: none;
}

a.black {
	color: #333;
}

.clearfix {
	*zoom: 1;
}

.clearfix:after {
	content: '\0020';
	display: block;
	height: 0;
	clear: both;
}

.invisible {
	display: none;
}

.transparent {
	visibility: hidden;
}

.undragable {
	user-select: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
}

.unfocusable {
	outline: none;
	*behavior: expression((this.hideFocus=true) &&(this.behavior='none'));
}

#nav-bar li.lab s,.block span.block-hd,.block span.block-ft,.block span.block-hd span,.block span.block-ft span,.dotted li,s.new,s.hot {
	background: transparent url(../images/common.png) no-repeat scroll 21px 157px;
}

.nice-title,.nice-title em {
	background: transparent url(../images/nice-title.png) no-repeat scroll 300px 22px;
}

#nav-bar,#nav-bar ul,#nav-bar li.selected,#nav-bar li.selected span {
	background: transparent url(../images/nav-bar.png) no-repeat scroll 912px 152px;
	_background-image: url(../images/nav-bar.gif);
}

.nice-input-display {
	background-color: #DDD;
}

.block .block-bd {
	border: 1px solid #C4D4DD;
	background-color: #F9F9F9;
	padding: 15px;
}

.block span.block-hd,.block span.block-ft {
	display: block;
	position: relative;
	height: 3px;
	_overflow: hidden;
}

.block span.block-hd span,.block span.block-ft span {
	float: right;
	width: 3px;
	height: 3px;
}

.block span.block-hd {
	margin-bottom: -3px;
	background-position: -2px -2px;
	overflow: hidden;
}

.block span.block-ft {
	margin-top: -3px;
	background-position: -2px 0;
	overflow: hidden;
}

.block span.block-hd span {
	background-position: 0 -2px;
}

.block span.block-ft span {
	background-position: 0 0;
}

.block .block-title {
	position: relative;
	margin-bottom: 8px;
	border-bottom: 1px solid #fff;
	line-height: 15px;
	_zoom: 1;
}

.block h2 {
	font-size: 14px;
	border-bottom: 1px solid #C4D4DD;
	height: 19px;
}

.block h2 strong {
	border-bottom: 2px solid #69CBF1;
	line-height: 18px;
	height: 18px;
	position: absolute;
}

.block .more {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 12px;
}

.dotted li {
	line-height: 24px;
	margin-left: 6px;
	padding-left: 9px;
	background-position: -18px -48px;
	vertical-align: middle;
}

.dotted.black li {
	background-position: -18px -65px;
}

.dotted li.red {
	background-position: -18px -82px;
}

.dotted li.red,.dotted li.red a {
	color: #d40000;
}

.dotted li.red a:hover {
	color: #dd5400;
}

s.new,s.hot {
	display: block;
	width: 21px;
	height: 9px;
	overflow: hidden;
}

s.new {
	background-position: 0 -27px;
}

s.hot {
	background-position: 0 -37px;
}

.nice-title {
	line-height: 22px;
	font-size: 14px;
	color: #333;
	padding: 3px 0 3px 7px;
	background-position: 0 50%;
}

.nice-title em {
	padding: 3px 7px 3px 0;
	background-position: 100% 50%;
}

.nice-input {
	line-height: 15px;
	height: 15px;
	padding: 1px;
}

#header,#content,#footer {
	width: 950px;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}
#content{
	padding-bottom: 20px;
}
.layout-main {
	float: left;
	margin-right: -314px;
	width: 100%;
}

.layout-main-wrap {
	margin-right: 314px;
}

.layout-side {
	float: left;
	width: 314px;
}

.block .layout-main {
	margin-right: -316px;
}

.block .layout-main-wrap,.block .layout-side-wrap {
	padding: 15px;
}

.layout-column {
	margin-bottom: 10px;
}

body {
	background-position: 0 -135px;
	background-repeat: repeat-x;
}

#top-bar {
	position: relative;
	height: 22px;
	text-align: right;
}

#top-bar ul {
	position: absolute;
	top: 0;
	right: 0;
}

#top-bar li {
	float: left;
	line-height: 22px;
	line-height: 24px\0;
	margin-left: 11px;
	padding-left: 14px;
	background-position: -18px -49px;
}

#top-bar li.first {
	margin-left: 0;
	padding-left: 0;
	background-image: none;
}

#top-bar li.first a {
	color: #266392;
	margin: 0 3px;
}

#top-bar a {
	color: #758197;
}

#logo {
	height: 70px;
}

#logo a.logo {
	display: block;
	float: left;
	width: 202px;
	height: 70px;
	overflow: hidden;
}

#logo a.cartoon {
	display: block;
	float: right;
	background: url() left bottom no-repeat;
	width: 295px;
	height: 70px;
	overflow: hidden;
}

#logo a.cartoon:hover {
	background: url() left top no-repeat;
	border: none;
}

#nav-bar {
	position: relative;
	height: 38px;
	line-height: 38px;
	padding-left: 56px;
	margin-bottom: 3px;
	background-position: 0 0;
	overflow: hidden;
}

#nav-bar ul {
	background-position: 100% -38px;
}

#nav-bar li {
	float: left;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	background: url(../images/nav-bar.png) right -155px no-repeat;
}

#nav-bar li.selected {
	background-position: 0 -76px;
}

#nav-bar li.selected a {
	color: #333;
	display: inline-block;
}

#nav-bar li.selected a:hover {
	background: none;
	border: none;
	*line-height: 24px;
}

#nav-bar li span {
	display: block;
	width: 92px;
	height: 38px;
}

#nav-bar li span a {
	display: block;
	color: #FFF;
	width: 75px;
	height: 23px;
	line-height: 23px;
	*line-height: 26px;
	margin: 6px auto 0 auto;
}

#nav-bar li span a:hover {
	background: url(../images/nav-bar.png) left -162px no-repeat;
	cursor: pointer;
}

#nav-bar li.selected span {
	color: #333;
	background-position: 100% -114px;
}

#nav-bar li.lab {
	float: right;
	line-height: 34px;
	padding-right: 10px;
	background: none;
	position: relative;
}

#nav-bar li.lab a {
	padding-left: 5px;
	color: #FFF;
}

#nav-bar li.lab s {
	position: absolute;
	top: 9px;
	left: -20px;
	background-position: 0 -10px;
	width: 16px;
	height: 16px;
}

.pcmgr_user_nav {
	height: 36px;
	width: 950px;
	margin: -9px auto 10px auto;
	background: url(../images/sub_bg.jpg) no-repeat;
	position: relative;
}

.pcmgr_user_nav div {
	display: block;
	overflow: hidden;
	zoom: 1;
	margin-left: 235px;
}

.pcmgr_user_nav div a {
	display: block;
	float: left;
	padding: 0 15px;
	margin-top: 10px;
}

.pcmgr_user_nav div a.set {
	color: #333;
	font-weight: bold;
}

#crumb {
	line-height: 25px;
	margin-top: 10px;
}

#crumb li {
	float: left;
}

#crumb li a {
	color: #266392;
}

#crumb li a:hover {
	text-decoration: underline;
}

#crumb li s {
	color: #266392;
	text-decoration: none;
	margin: 0 3px;
}

#faq-list .faq-row {
	margin: 0 10px;
}

#faq-list .faq-col {
	float: left;
	width: 50%;
	overflow: hidden;
}

#faq-list .faq-col ul {
	font-size: 14px;
	line-height: 24px;
	margin: 15px 0 15px 20px;
}

#footer p {
	margin: 10px 0 30px;
	line-height: 17px;
	color: #9E9E9E;
	text-align: center;
	float: left;
	width: 100%;
}

#footer a {
	color: #9E9E9E;
	text-decoration: none;
}

#footer a:hover {
	color: #9E9E9E;
	text-decoration: underline;
}

.loginframe {
	display: none;
}
.block .block-bd {
	padding:0
}

.more_header {
	position:absolute;
	top:6px;
	right:10px
}

.main_tips {
	overflow:hidden;
	width:599px;
	height:250px;
	padding:15px 15px 5px 20px;
	_padding:15px 5px 5px 20px
}

.pic_info {
	float:left;
	padding:5px 10px 25px 10px;
	margin-left:-10px;
	width:240px;
	height:18px;
	display:inline
}
.pic_info span {
	color:#266392
}
.text_info {
	float:left;
	width:345px
}
.dotted li {
	color:#266392
}
.left {
	float:left;
	width:630px;
	position:relative
}
.right {
	float:right;
	width:310px
}
.dotted span {
	float:right;
	right:0
}

.top-banner {
	position:relative;
	overflow:hidden;
	width:950px;
	height:300px
}
.top-banner img {
	width:950px;
	height:300px
}
.ico_d {
	position:absolute;
	right:13px;
	bottom:23px
}
.ico_d li {
	color:#fff;
	background:#999;
	float:left;
	display:inline;
	width:15px;
	height:15px;
	line-height:15px;
	font-family:Arial,Helvetica,sans-serif;
	text-align:center;
	margin:3px;
	padding:0;
	cursor:pointer
}
.ico_d li.high {
	background:#F63;
	font-weight:bolder;
	padding:1px
}
.span-left {
	float:left;
	height:150px
}
.security_tips {
	padding:15px 15px 0 20px;
	_padding:15px 5px 8px 20px;
	height:255px;
	overflow:hidden
}
.link_tips {
	padding:15px 0 15px 35px;
	height:70px;
	font-size:14px;
	text-align:center
}
.tips-table {
	line-height:70px;
	height:70px
}
.tips-table td {
	text-align:left
}
.link_tips img {
	margin-right:10px;
	vertical-align:middle
}
.safety_tips {
	padding:15px
}
.safety_tips hr {
	border:0;
	border-bottom:1px solid #FFF;
	border-top:1px solid #c4d4dd;
	margin:15px auto
}
.hzhb li {
	float:left;
	line-height:30px;
	margin:0 3px
}
.blog-question {
	height:300px;
	overflow:hidden
}
.safety_tips img {
	vertical-align:middle;
	margin-right:10px
}
.security-main {
	width:290px;
	float:left
}
.security-side {
	width:290px;
	float:right
}
.security-text {
	width:135px;
	height:120px;
	position:relative;
	float:left;
	padding-left:15px
}
.hack10 {
	height:10px;
	clear:both;
	overflow:hidden
}
.r_top,.r_bottom {
	float:left;
	background:#f9fafc;
	margin-left:-5px;
	display:inline
}
.r_t_mid {
	border-top:#c2d4de 1px solid;
	width:263px;
	height:6px;
	float:left;
	overflow:hidden;
	display:inline
}
.r_b_mid {
	border-bottom:#c2d4de 1px solid;
	width:263px;
	height:6px;
	float:left;
	overflow:hidden;
	display:inline
}
.timeline_box {
	width:600px;
	height:140px;
	margin:20px auto;
	position:relative;
	overflow:hidden
}
.line_box {
	width:380px;
	height:140px;
	float:left;
	overflow:hidden;
	position:absolute
}
.sc_box {
	width:380px;
	height:110px;
	position:relative
}
.timeline_msg {
	width:215px;
	height:135px;
	float:right;
	border:2px solid #caddeb;
	background:#f7f7f7;
	position:relative;
	z-index:99;
	overflow:hidden
}
.timeline_msg h3 {
	font-size:12px;
	color:#34a5d1;
	text-indent:1em;
	margin:10px auto
}
.timeline_msg h3 a {
	color:#34a5d1;
	text-decoration:none
}
.timeline_msg h3 a:hover {
	text-decoration:underline
}
.timeline_msg div {
	height:40px;
	line-height:20px;
	color:#7d7d7d;
	margin:0 10px 10px 10px
}
.security_tips .content {
	margin-top:25px
}
.security_tips .content h3 {
	font-size:14px;
	margin-bottom:15px
}
.clearflow {
	overflow:hidden
}
.main_tips .content {
	padding-top:10px
}
.left10 {
	margin-left:10px
}
.left20 {
	margin-left:20px
}
.crabs {
	bottom:103px;
	display:block;
	height:114px;
	left:693px;
	overflow:hidden;
	position:absolute
}
.crabs_ver {
	line-height:19px
}
.crabs_ver font {
	color:#5183ae
}
.dblue {
	color:#00a0e9
}




.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000000;
}

.modal-backdrop.fade {
  opacity: 0;
}

.modal-backdrop,
.modal-backdrop.fade.in {
  opacity: 0.8;
  filter: alpha(opacity=80);
}

.modal {
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 1050;
  width: 560px;
  margin-left: -280px;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
}

.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
       -o-transition: opacity 0.3s linear, top 0.3s ease-out;
          transition: opacity 0.3s linear, top 0.3s ease-out;
}

.modal.fade.in {
  top: 10%;
}

.modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}

.modal-header .close {
  margin-top: 2px;
}

.modal-header h3 {
  margin: 0;
  line-height: 30px;
}

.modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}

.modal-form {
  margin-bottom: 0;
}

.modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.modal-footer:before,
.modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}

.modal-footer:after {
  clear: both;
}

.modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}

.modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}

.modal-footer .btn-block + .btn-block {
  margin-left: 0;
}

form {
  margin: 0 0 20px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

legend small {
  font-size: 15px;
  color: #999999;
}

label,
input,
button,
select,
textarea {
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
}

input,
button,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  display: inline-block;
  height: 20px;
  padding: 4px 6px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
  vertical-align: middle;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

input,
textarea,
.uneditable-input {
  width: 206px;
}

textarea {
  height: auto;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
     -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
       -o-transition: border linear 0.2s, box-shadow linear 0.2s;
          transition: border linear 0.2s, box-shadow linear 0.2s;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  margin-top: 1px \9;
  *margin-top: 0;
  line-height: normal;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}

select,
input[type="file"] {
  height: 30px;
  /* In IE7, the height of the select element cannot be changed by height, only font-size */

  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

  line-height: 30px;
}

select {
  width: 220px;
  background-color: #ffffff;
  border: 1px solid #cccccc;
}

select[multiple],
select[size] {
  height: auto;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.uneditable-input,
.uneditable-textarea {
  color: #999999;
  cursor: not-allowed;
  background-color: #fcfcfc;
  border-color: #cccccc;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
}

.uneditable-input {
  overflow: hidden;
  white-space: nowrap;
}

.uneditable-textarea {
  width: auto;
  height: auto;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #999999;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #999999;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999999;
}

.radio,
.checkbox {
  min-height: 20px;
  padding-left: 20px;
}

.radio input[type="radio"],
.checkbox input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}

.controls > .radio:first-child,
.controls > .checkbox:first-child {
  padding-top: 5px;
}

.radio.inline,
.checkbox.inline {
  display: inline-block;
  padding-top: 5px;
  margin-bottom: 0;
  vertical-align: middle;
}

.radio.inline + .radio.inline,
.checkbox.inline + .checkbox.inline {
  margin-left: 10px;
}

.input-mini {
  width: 60px;
}

.input-small {
  width: 90px;
}

.input-medium {
  width: 150px;
}

.input-large {
  width: 210px;
}

.input-xlarge {
  width: 270px;
}

.input-xxlarge {
  width: 530px;
}

input[class*="span"],
select[class*="span"],
textarea[class*="span"],
.uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"] {
  float: none;
  margin-left: 0;
}

.input-append input[class*="span"],
.input-append .uneditable-input[class*="span"],
.input-prepend input[class*="span"],
.input-prepend .uneditable-input[class*="span"],
.row-fluid input[class*="span"],
.row-fluid select[class*="span"],
.row-fluid textarea[class*="span"],
.row-fluid .uneditable-input[class*="span"],
.row-fluid .input-prepend [class*="span"],
.row-fluid .input-append [class*="span"] {
  display: inline-block;
}

input,
textarea,
.uneditable-input {
  margin-left: 0;
}

.controls-row [class*="span"] + [class*="span"] {
  margin-left: 20px;
}

input.span12,
textarea.span12,
.uneditable-input.span12 {
  width: 926px;
}

input.span11,
textarea.span11,
.uneditable-input.span11 {
  width: 846px;
}

input.span10,
textarea.span10,
.uneditable-input.span10 {
  width: 766px;
}

input.span9,
textarea.span9,
.uneditable-input.span9 {
  width: 686px;
}

input.span8,
textarea.span8,
.uneditable-input.span8 {
  width: 606px;
}

input.span7,
textarea.span7,
.uneditable-input.span7 {
  width: 526px;
}

input.span6,
textarea.span6,
.uneditable-input.span6 {
  width: 446px;
}

input.span5,
textarea.span5,
.uneditable-input.span5 {
  width: 366px;
}

input.span4,
textarea.span4,
.uneditable-input.span4 {
  width: 286px;
}

input.span3,
textarea.span3,
.uneditable-input.span3 {
  width: 206px;
}

input.span2,
textarea.span2,
.uneditable-input.span2 {
  width: 126px;
}

input.span1,
textarea.span1,
.uneditable-input.span1 {
  width: 46px;
}

.controls-row {
  *zoom: 1;
}

.controls-row:before,
.controls-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.controls-row:after {
  clear: both;
}

.controls-row [class*="span"],
.row-fluid .controls-row [class*="span"] {
  float: left;
}

.controls-row .checkbox[class*="span"],
.controls-row .radio[class*="span"] {
  padding-top: 5px;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}

input[type="radio"][disabled],
input[type="checkbox"][disabled],
input[type="radio"][readonly],
input[type="checkbox"][readonly] {
  background-color: transparent;
}

.control-group.warning .control-label,
.control-group.warning .help-block,
.control-group.warning .help-inline {
  color: #c09853;
}

.control-group.warning .checkbox,
.control-group.warning .radio,
.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  color: #c09853;
}

.control-group.warning input,
.control-group.warning select,
.control-group.warning textarea {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.warning input:focus,
.control-group.warning select:focus,
.control-group.warning textarea:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}

.control-group.warning .input-prepend .add-on,
.control-group.warning .input-append .add-on {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #c09853;
}

.control-group.error .control-label,
.control-group.error .help-block,
.control-group.error .help-inline {
  color: #b94a48;
}

.control-group.error .checkbox,
.control-group.error .radio,
.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  color: #b94a48;
}

.control-group.error input,
.control-group.error select,
.control-group.error textarea {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.error input:focus,
.control-group.error select:focus,
.control-group.error textarea:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}

.control-group.error .input-prepend .add-on,
.control-group.error .input-append .add-on {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #b94a48;
}

.control-group.success .control-label,
.control-group.success .help-block,
.control-group.success .help-inline {
  color: #468847;
}

.control-group.success .checkbox,
.control-group.success .radio,
.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  color: #468847;
}

.control-group.success input,
.control-group.success select,
.control-group.success textarea {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.success input:focus,
.control-group.success select:focus,
.control-group.success textarea:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}

.control-group.success .input-prepend .add-on,
.control-group.success .input-append .add-on {
  color: #468847;
  background-color: #dff0d8;
  border-color: #468847;
}

.control-group.info .control-label,
.control-group.info .help-block,
.control-group.info .help-inline {
  color: #3a87ad;
}

.control-group.info .checkbox,
.control-group.info .radio,
.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  color: #3a87ad;
}

.control-group.info input,
.control-group.info select,
.control-group.info textarea {
  border-color: #3a87ad;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.control-group.info input:focus,
.control-group.info select:focus,
.control-group.info textarea:focus {
  border-color: #2d6987;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7ab5d3;
}

.control-group.info .input-prepend .add-on,
.control-group.info .input-append .add-on {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #3a87ad;
}

input:focus:invalid,
textarea:focus:invalid,
select:focus:invalid {
  color: #b94a48;
  border-color: #ee5f5b;
}

input:focus:invalid:focus,
textarea:focus:invalid:focus,
select:focus:invalid:focus {
  border-color: #e9322d;
  -webkit-box-shadow: 0 0 6px #f8b9b7;
     -moz-box-shadow: 0 0 6px #f8b9b7;
          box-shadow: 0 0 6px #f8b9b7;
}

.form-actions {
  padding: 19px 20px 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border-top: 1px solid #e5e5e5;
  *zoom: 1;
}

.form-actions:before,
.form-actions:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-actions:after {
  clear: both;
}

.help-block,
.help-inline {
  color: #595959;
}

.help-block {
  display: block;
  margin-bottom: 10px;
}

.help-inline {
  display: inline-block;
  *display: inline;
  padding-left: 5px;
  vertical-align: middle;
  *zoom: 1;
}

.input-append,
.input-prepend {
  margin-bottom: 5px;
  font-size: 0;
  white-space: nowrap;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input,
.input-append .dropdown-menu,
.input-prepend .dropdown-menu {
  font-size: 14px;
}

.input-append input,
.input-prepend input,
.input-append select,
.input-prepend select,
.input-append .uneditable-input,
.input-prepend .uneditable-input {
  position: relative;
  margin-bottom: 0;
  *margin-left: 0;
  vertical-align: top;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-append input:focus,
.input-prepend input:focus,
.input-append select:focus,
.input-prepend select:focus,
.input-append .uneditable-input:focus,
.input-prepend .uneditable-input:focus {
  z-index: 2;
}

.input-append .add-on,
.input-prepend .add-on {
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}

.input-append .add-on,
.input-prepend .add-on,
.input-append .btn,
.input-prepend .btn,
.input-append .btn-group > .dropdown-toggle,
.input-prepend .btn-group > .dropdown-toggle {
  vertical-align: top;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-append .active,
.input-prepend .active {
  background-color: #a9dba9;
  border-color: #46a546;
}

.input-prepend .add-on,
.input-prepend .btn {
  margin-right: -1px;
}

.input-prepend .add-on:first-child,
.input-prepend .btn:first-child {
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.input-append input,
.input-append select,
.input-append .uneditable-input {
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.input-append input + .btn-group .btn:last-child,
.input-append select + .btn-group .btn:last-child,
.input-append .uneditable-input + .btn-group .btn:last-child {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-append .add-on,
.input-append .btn,
.input-append .btn-group {
  margin-left: -1px;
}

.input-append .add-on:last-child,
.input-append .btn:last-child,
.input-append .btn-group:last-child > .dropdown-toggle {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-prepend.input-append input,
.input-prepend.input-append select,
.input-prepend.input-append .uneditable-input {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.input-prepend.input-append input + .btn-group .btn,
.input-prepend.input-append select + .btn-group .btn,
.input-prepend.input-append .uneditable-input + .btn-group .btn {
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-prepend.input-append .add-on:first-child,
.input-prepend.input-append .btn:first-child {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.input-prepend.input-append .add-on:last-child,
.input-prepend.input-append .btn:last-child {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.input-prepend.input-append .btn-group:first-child {
  margin-left: 0;
}

input.search-query {
  padding-right: 14px;
  padding-right: 4px \9;
  padding-left: 14px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
}

/* Allow for input prepend/append in search forms */

.form-search .input-append .search-query,
.form-search .input-prepend .search-query {
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}

.form-search .input-append .search-query {
  -webkit-border-radius: 14px 0 0 14px;
     -moz-border-radius: 14px 0 0 14px;
          border-radius: 14px 0 0 14px;
}

.form-search .input-append .btn {
  -webkit-border-radius: 0 14px 14px 0;
     -moz-border-radius: 0 14px 14px 0;
          border-radius: 0 14px 14px 0;
}

.form-search .input-prepend .search-query {
  -webkit-border-radius: 0 14px 14px 0;
     -moz-border-radius: 0 14px 14px 0;
          border-radius: 0 14px 14px 0;
}

.form-search .input-prepend .btn {
  -webkit-border-radius: 14px 0 0 14px;
     -moz-border-radius: 14px 0 0 14px;
          border-radius: 14px 0 0 14px;
}

.form-search input,
.form-inline input,
.form-horizontal input,
.form-search textarea,
.form-inline textarea,
.form-horizontal textarea,
.form-search select,
.form-inline select,
.form-horizontal select,
.form-search .help-inline,
.form-inline .help-inline,
.form-horizontal .help-inline,
.form-search .uneditable-input,
.form-inline .uneditable-input,
.form-horizontal .uneditable-input,
.form-search .input-prepend,
.form-inline .input-prepend,
.form-horizontal .input-prepend,
.form-search .input-append,
.form-inline .input-append,
.form-horizontal .input-append {
  display: inline-block;
  *display: inline;
  margin-bottom: 0;
  vertical-align: middle;
  *zoom: 1;
}

.form-search .hide,
.form-inline .hide,
.form-horizontal .hide {
  display: none;
}

.form-search label,
.form-inline label,
.form-search .btn-group,
.form-inline .btn-group {
  display: inline-block;
}

.form-search .input-append,
.form-inline .input-append,
.form-search .input-prepend,
.form-inline .input-prepend {
  margin-bottom: 0;
}

.form-search .radio,
.form-search .checkbox,
.form-inline .radio,
.form-inline .checkbox {
  padding-left: 0;
  margin-bottom: 0;
  vertical-align: middle;
}

.form-search .radio input[type="radio"],
.form-search .checkbox input[type="checkbox"],
.form-inline .radio input[type="radio"],
.form-inline .checkbox input[type="checkbox"] {
  float: left;
  margin-right: 3px;
  margin-left: 0;
}

.control-group {
  margin-bottom: 10px;
}

legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}

.form-horizontal .control-group:before,
.form-horizontal .control-group:after {
  display: table;
  line-height: 0;
  content: "";
}

.form-horizontal .control-group:after {
  clear: both;
}

.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}

.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}

.form-horizontal .controls:first-child {
  *padding-left: 180px;
}

.form-horizontal .help-block {
  margin-bottom: 0;
}

.form-horizontal input + .help-block,
.form-horizontal select + .help-block,
.form-horizontal textarea + .help-block,
.form-horizontal .uneditable-input + .help-block,
.form-horizontal .input-prepend + .help-block,
.form-horizontal .input-append + .help-block {
  margin-top: 10px;
}

.form-horizontal .form-actions {
  padding-left: 180px;
}


